## --- AL gitignore ---
## Ignores generated binary files and 
## temporary files from Visual Studio and Visual Studio code

# Binary files
*.app
.alpackages/

# Temp files
.vscode/rad.json
.vscode/.alcache
.vs/

# AL Object Designer
.alcache/
.altemplates/

# Ruleset
.codeanalysis/

# Snapshots
.snapshots/

# Others
*.exe
*dump
~$*
*~
